<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Patch Note do mundo</title>
	<script src="https://cdn.jsdelivr.net/npm/tinymce/tinymce.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/w-tinymce-vue@2.0.1/dist/w-tinymce-vue.umd.js"></script>
	<script src="script.js"></script>
	<link rel="stylesheet" href="main.css">
</head>

<body>
	<div id="app" class="app">
		<header>
			<h1 style="text-align: center;">Gerador de Patch Notes</h1>
		</header>
		<div class="contentMaker">
			<div>
				Nome: <br>
				<input type="text" v-model="characterName"> <br><br>
	
				Link da foto (tamanho ideal 120px x 120px): <br>
				<input type="text" v-model="imgUrl"> <br><br>
	
				Sumário: <br>
				<textarea v-model="summary"></textarea> <br><br>
	
				Entre aspas: <br>
				<textarea v-model="quote"></textarea> <br><br>

			</div>
			<div>
				<pre>Quantidade total de atributos: {{ attributes.length }}</pre>
				Novo atributo:<br>
				<input type="text" v-model="newAttribute.attribute"><br><br>
				Tipo (selecione "Nenhum" caso não for receber alguma insígnia): <br>
				<select type="text" v-model="newAttribute.status">
					<option value="" selected> Nenhum </option>
					<template v-for="(status, index) of statuses">
						<option :value="index">{{ status }}</option>
					</template>
				</select> <br><br>
				Antes (deixe em branco caso não tenha um antes): <br>
				<input type="text" v-model="newAttribute.before"> <br><br>
	
				Depois: <br>
				<input type="text" v-model="newAttribute.after"> <br><br>

				<button @click="saveAttribute">Salvar atributo (essa ação não pode ser desfeita)</button>
			</div>
		</div>

		<div class="patch">
			<div class="content-border">
				<div class="patch-change-block white-stone accent-before">
					<div>
						<div style="display: flex; flex-direction: row;">
							<a class="reference-link"><img class="characterImg" :src="imgUrl"></a>
							<div style="display: flex; flex-direction: column;">
								<h3 class="change-title"><a href=""> {{ characterName }} </a></h3>
								<p class="summary" v-html="summary"></p>
							</div>
						</div>
						<blockquote class="blockquote context" v-html="quote" style="text-align: justify;">
						</blockquote>
						<hr class="divider">
						<h4 class="change-detail-title" style="margin-left: 14.285714285714286%;">ATUALIZAÇÕES</h4>
						<div v-if="!attributes.length" class="attribute-change">
							<span class="attribute"><span class="badge new"> NOVO </span> PARA MANDAR NO ZAP</span>
							<span class="attribute-after"><span>O conteúdo dessa também está acessível em formato de celular!</span></span>
						</div>
						<div v-if="!attributes.length" class="attribute-change">
							<span class="attribute"><span class="badge updated"> ATUALIZADO </span> OUDRI KANDA LARRAI</span>
							<span class="attribute-before"><span>O conteúdo dessa página está em línguas estranhas</span></span>
							<span class="change-indicator" >⇒</span>
							<span class="attribute-after"><span>O conteúdo dessa página está em Português 🇧🇷</span></span>
						</div>
						<div class="attribute-change" v-for=" attribute in attributes">
							<span class="attribute"><span v-if="attribute.status" class="badge" :class="attribute.status"> {{ statuses[attribute.status] }} </span> {{ attribute.attribute ? attribute.attribute.toUpperCase() : ''  }}</span>
							<span class="attribute-before" v-if="!!attribute.before"><span v-html="attribute.before"></span></span>
							<span class="change-indicator"  v-if="!!attribute.before">⇒</span>
							<span class="attribute-after"><span v-html="attribute.after"></span></span>
						</div>
						<div v-if="newAttribute.attribute" class="attribute-change">
							<span class="attribute"><span v-if="newAttribute.status" class="badge" :class="newAttribute.status"> {{ statuses[newAttribute.status] }} </span> {{ newAttribute.attribute  ? newAttribute.attribute.toUpperCase() : '' }}</span>
							<span class="attribute-before" v-if="!!newAttribute.before"><span v-html="newAttribute.before"></span></span>
							<span class="change-indicator"  v-if="!!newAttribute.before">⇒</span>
							<span class="attribute-after"><span v-html="newAttribute.after"></span></span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>

</html>