body {
    margin: 0;
    margin-top: 6%;
    background-color: rgb(0, 9, 19);
    color: rgb(255, 255, 255);
    padding-bottom: 100px;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Spiegel', 'Arial Narrow', Arial, sans-serif;
    overflow-y: scroll;
}

#app {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000913;
    color: #ffffff;
    padding-bottom: 100px;
}


html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

b, strong {
    font-weight: bolder;
}

img {
    border-style: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

textarea {
    overflow: auto;
}

a {
    -webkit-text-decoration: none;
    text-decoration: none;
}

a:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
}

:focus {
    outline: 0;
}

a[href], input[type="submit"], input[type="image"], label[for], select, button {
    cursor: pointer;
}

a[href]:disabled, input[type="submit"]:disabled, input[type="image"]:disabled, label[for]:disabled, select:disabled, button:disabled {
    cursor: auto;
}

::-ms-clear {
    display: none;
}


.app {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 100%;
    font-size: 0.875rem;
    -webkit-letter-spacing: 0.5px;
    -moz-letter-spacing: 0.5px;
    -ms-letter-spacing: 0.5px;
    letter-spacing: 0.5px;
    line-height: 1.6;
}

.blockquote {
    margin: 0 7.142857142857143%;
    margin-top: 7.142857142857143%;
    margin-bottom: 3.5714285714285716%;
    font-size: 0.875rem;
    line-height: 1.6;
}

.blockquote:first-child {
    margin-top: 7px;
}

.blockquote::before, .blockquote::after {
    position: relative;
    top: 0.35em;
    display: inline-block;
    color: #5d6166;
    font-size: 2.5em;
    line-height: 0;
}

.blockquote::before:lang(cs-cz), .blockquote::after:lang(cs-cz), .blockquote::before:lang(de-de), .blockquote::after:lang(de-de), .blockquote::before:lang(es-ar), .blockquote::after:lang(es-ar), .blockquote::before:lang(es-es), .blockquote::after:lang(es-es), .blockquote::before:lang(es-mx), .blockquote::after:lang(es-mx), .blockquote::before:lang(fr-fr), .blockquote::after:lang(fr-fr), .blockquote::before:lang(hu-hu), .blockquote::after:lang(hu-hu), .blockquote::before:lang(it-it), .blockquote::after:lang(it-it), .blockquote::before:lang(ja-jp), .blockquote::after:lang(ja-jp), .blockquote::before:lang(ko-kr), .blockquote::after:lang(ko-kr), .blockquote::before:lang(pl-pl), .blockquote::after:lang(pl-pl), .blockquote::before:lang(pt-br), .blockquote::after:lang(pt-br), .blockquote::before:lang(ro-ro), .blockquote::after:lang(ro-ro), .blockquote::before:lang(ru-ru), .blockquote::after:lang(ru-ru), .blockquote::before:lang(th-th), .blockquote::after:lang(th-th), .blockquote::before:lang(tr-tr), .blockquote::after:lang(tr-tr), .blockquote::before:lang(vi-vn), .blockquote::after:lang(vi-vn), .blockquote::before:lang(zh-cn), .blockquote::after:lang(zh-cn), .blockquote::before:lang(zh-tw), .blockquote::after:lang(zh-tw) {
    line-height: 1.1;
}

.blockquote::before {
    content: "“";
}

.blockquote::after {
    content: "”";  
}

a {
    color: #0bc6e3;
}

.summary {
    margin: 1.7857142857142858px 3.5714285714285716%;
}

.content-border>img {
    width: 100%;
}

div.content-border {
    position: relative;
    border: 1px solid #242C36;
    margin: 3.5714285714285716%;
    padding: 3.5714285714285716%;
}

div.content-border::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 30px;
    background-color: #000913;
    border-bottom: 2px solid #242C36;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-transform: rotate(45deg) translate(0px, -120%);
    -ms-transform: rotate(45deg) translate(0px, -120%);
    transform: rotate(45deg) translate(0px, -120%);
}

.divider, hr {
    border: 0.5px solid #242C36;
    margin: 20px 0;
}

.change-detail-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.875rem;
}

.change-detail-title img {
    width: 5.357142857142858%;
    margin-right: 2.5%;
}

#patch-top+.blockquote {
    font-size: 1rem;
}

.patch-change-block {
    position: relative;
}

.patch-change-block .reference-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 10.714285714285715%;
    min-width: 60px;
}

.patch-change-block .reference-link+.removed, .patch-change-block .reference-link+.updated, .patch-change-block .reference-link+.new {
    margin-top: 21px;
    margin-right: 7px;
    margin-left: 14.285714285714286%;
}

.patch-change-block .change-title, .patch-change-block .summary {
    padding-left: 14.285714285714286%;
    padding-top: 5px;
    margin: 0;
}

.patch-change-block .summary {
    font-size: 0.8125rem;
    line-height: 1.5;
}

.patch-change-block .change-title, .patch-change-block .change-detail-title {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
    -webkit-letter-spacing: 1.5px;
    -moz-letter-spacing: 1.5px;
    -ms-letter-spacing: 1.5px;
    letter-spacing: 1.5px;
    padding-top: 10px;
}


.patch-change-block .change-title a, .patch-change-block .change-detail-title a {
    color: #ffffff;
}

.patch-change-block .change-title .removed, .patch-change-block .change-detail-title .removed, .patch-change-block .change-title .updated, .patch-change-block .change-detail-title .updated, .patch-change-block .change-title .new, .patch-change-block .change-detail-title .new {
    top: 1px;
    margin-right: 7px;
}

.patch-change-block blockquote {
    margin-left: 3.5714285714285716%;
    margin-right: 3.5714285714285716%;
}

.patch-change-block hr {
    margin-left: 7.142857142857143%;
}

.patch-change-block .attribute-change {
    margin-left: 14.285714285714286%;
}

.attribute, .attribute-before, .attribute-change {
    font-size: 0.75rem;
    line-height: 1.6;
}

.attribute-change {
    margin: 7px 7.142857142857143%;
    margin-left: 14.285714285714286%;
}

.attribute {
    color: #868686;
}

.attribute::after {
    content: ":";
    margin-right: 5px;
}

.attribute-before {
    color: #868686;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
}

.removed, .updated, .new {
    position: relative;
    top: -1px;
    padding: 3px;
    padding-left: 5px;
    margin-right: 4px;
    font-size: 0.4375rem;
    font-weight: 200;
    -webkit-letter-spacing: 1.5px;
    -moz-letter-spacing: 1.5px;
    -ms-letter-spacing: 1.5px;
    letter-spacing: 1.5px;
    color: #ffffff;
    text-align: center;
}

.removed.float-left, .updated.float-left, .new.float-left {
    float: left;
}

.removed {
    background-color: #bf302a;
}

.updated {
    background-color: #0bc6e3;
}

.new {
    background-color: #4ea64e;
}

@media (max-width:599px) {
    .blockquote {
        line-height: 1.5;
        margin-left: 0;
        margin-right: 0;
    }

    .content-border {
        border: none;
        border-bottom: 1px solid #242C36;
        margin-left: -5%;
        margin-right: -5%;
        padding: 3.5714285714285716% 7.142857142857143%;
    }

    .content-border::after {
        display: none;
    }

    .change-detail-title {
        margin-top: 30px;
        margin-left: 0;
        font-size: 1rem;
    }

    .change-detail-title img {
        width: 45px;
        margin-right: 7.142857142857143%;
    }

    #patch-top+.blockquote {
        font-size: 0.875rem;
        margin-left: 3.5714285714285716%;
        margin-right: 3.5714285714285716%;
    }


    .patch-change-block .reference-link {
        display: block;
        position: relative;
    }

    .patch-change-block .reference-link+.removed, .patch-change-block .reference-link+.updated, .patch-change-block .reference-link+.new {
        margin-top: 21px;
        margin-right: 7px;
        margin-left: 0px;
    }

    .patch-change-block .reference-link img {
        width: 60px;
    }

    .patch-change-block .change-title, .patch-change-block .summary {
        padding-left: 0px;
    }

    .patch-change-block .change-title, .patch-change-block .change-detail-title {
        padding-top: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .patch-change-block .change-detail-title {
        font-size: 1rem;
    }

    .patch-change-block hr, .patch-change-block .attribute-change {
        margin-left: 0;
    }

    .patch-change-block .blockquote {
        margin-left: 0;
        margin-right: 0;
    }

    .attribute-change {
        margin-left: 0;
    }

    .removed, .updated, .new {
        display: block;
        width: 70px;
        margin-top: 20px;
        margin-bottom: 2px;
        padding: 0 2px;
        font-size: 0.75rem;
    }

    .removed.float-left, .updated.float-left, .new.float-left {
        float: none;
    }

    .skin-box .content-border {
        display: block;
        border: 0;
    }
}

.patch-change-block {
    position: relative;
}

.patch-change-block .reference-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 10.714285714285715%;
    min-width: 60px;
}

.patch-change-block .reference-link+.removed,
.patch-change-block .reference-link+.updated,
.patch-change-block .reference-link+.new {
    margin-top: 21px;
    margin-right: 7px;
    margin-left: 14.285714285714286%;
}

.patch-change-block .change-title,
.patch-change-block .summary {
    padding-left: 14.285714285714286%;
    padding-top: 5px;
    margin: 0;
}

.patch-change-block .summary {
    font-size: 0.8125rem;
    line-height: 1.5;
}

.patch-change-block .change-title,
.patch-change-block .change-detail-title {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
    -webkit-letter-spacing: 1.5px;
    -moz-letter-spacing: 1.5px;
    -ms-letter-spacing: 1.5px;
    letter-spacing: 1.5px;
    padding-top: 10px;
}

.patch-change-block .change-title a,
.patch-change-block .change-detail-title a {
    color: #ffffff;
}

.patch-change-block .change-title .removed,
.patch-change-block .change-detail-title .removed,
.patch-change-block .change-title .updated,
.patch-change-block .change-detail-title .updated,
.patch-change-block .change-title .new,
.patch-change-block .change-detail-title .new {
    top: 1px;
    margin-right: 7px;
}

.patch-change-block blockquote {
    margin-left: 3.5714285714285716%;
    margin-right: 3.5714285714285716%;
}

.patch-change-block hr {
    margin-left: 7.142857142857143%;
}

.patch-change-block .attribute-change {
    margin-left: 14.285714285714286%;
}


.characterImg {
    width: 120px;
    height: 120px;
}

div.content-border {
    position: relative;
    border: 1px solid #242C36;
    margin: 3.5714285714285716%;
    padding: 3.5714285714285716%;
}

div.content-border::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 30px;
    background-color: #000913;
    border-bottom: 2px solid #242C36;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-transform: rotate(45deg) translate(0px, -120%);
    -ms-transform: rotate(45deg) translate(0px, -120%);
    transform: rotate(45deg) translate(0px, -120%);
}

.divider,
hr {
    border: 0.5px solid #242C36;
    margin: 20px 0;
}

.badge {
    text-transform: uppercase;
    position: relative;
    top: -1px;
    padding: 3px 3px 3px 5px;
    margin-right: 4px;
    font-size: 0.4375rem;
    font-weight: 200;
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.new {
    background-color: #4ea64e;
}


.removed {
    background-color: #bf302a;
}


.updated {
    background-color: #0bc6e3;
}


.attribute {
    color: rgb(134, 134, 134);
}

blockquote {
    margin-left: 3.57143%;
    margin-right: 3.57143%;
    margin: 7.14286% 7.14286% 3.57143%;
    font-size: 0.875rem;
    line-height: 1.6;
}

.change-title {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding-top: 10px;
    text-transform: uppercase;
}

.contentMaker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}