body {
    margin: 0;
    margin-top: 6%;
    background-color: rgb(0, 9, 19);
    color: rgb(255, 255, 255);
    padding-bottom: 100px;
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}


html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b, strong {
    font-weight: bolder;
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

body {
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Spiegel', 'Arial Narrow', Arial, sans-serif;
}

body:lang(ko-kr) {
    font-family: "NotoSans-Medium", sans-serif;
}

body:lang(th-th) {
    font-family: "Cordia New", sans-serif;
}

a {
    -webkit-text-decoration: none;
    text-decoration: none;
}

a:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
}

:focus {
    outline: 0;
}

a[href], input[type="submit"], input[type="image"], label[for], select, button {
    cursor: pointer;
}

a[href]:disabled, input[type="submit"]:disabled, input[type="image"]:disabled, label[for]:disabled, select:disabled, button:disabled {
    cursor: auto;
}

::-ms-clear {
    display: none;
}

body {
    overflow-y: scroll;
}

:lang(ko-kr) {
    word-break: keep-all;
    -webkit-letter-spacing: normal !important;
    -moz-letter-spacing: normal !important;
    -ms-letter-spacing: normal !important;
    letter-spacing: normal !important;
}

:lang(ja-jp) {
    -webkit-letter-spacing: normal !important;
    -moz-letter-spacing: normal !important;
    -ms-letter-spacing: normal !important;
    letter-spacing: normal !important;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-container-vertical>.swiper-wrapper {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-property: transform;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

@media all and (min-width:1001px) {
    .swiper-wrapper {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

.swiper-container-vertical>.swiper-wrapper, .swiper-container-multirow>.swiper-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-container-multirow-column>.swiper-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.swiper-slide-invisible-blank {
    visibility: hidden;
}

.swiper-container {
    width: 100%;
}

.swiper-wrapper.has-no-scrollable-width {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

data-styled.g2[id="sc-global-fdoPDN1"] {
    content: "sc-global-fdoPDN1,"
}

.tpmsP {
    z-index: 1000;
    top: 0px;
}

data-styled.g3[id="style__Header-nag7bg-0"] {
    content: "tpmsP,"
}

html:not(.js) .style__Img-g183su-1 {
    display: none !important;
}

.dBitJH:not([src]):not([srcset]) {
    visibility: hidden;
}

data-styled.g36[id="style__Img-g183su-1"] {
    content: "dBitJH,"
}

.fISwSO {
    height: 32px;
    display: inline-block;
    color: #cca75c;
}

data-styled.g99[id="style__Wrapper-sc-1wyuot3-0"] {
    content: "fISwSO,"
}

.bezFay {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

data-styled.g100[id="style__List-sc-1wyuot3-1"] {
    content: "bezFay,"
}

.wqHZW {
    height: 100%;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    text-align: center;
}

.wqHZW.hidden {
    display: none;
}

.wqHZW.icon-vk svg {
    margin-top: 5%;
    height: 90%;
}

html:not(:lang(ru-ru)) .style__Item-sc-1wyuot3-2.icon-vk {
    display: none;
}

.wqHZW.icon-line svg {
    margin-top: -15%;
    height: 130%;
}

html:not(:lang(ja-jp)) .style__Item-sc-1wyuot3-2.icon-line {
    display: none;
}

html:lang(ja-jp) .style__Item-sc-1wyuot3-2.icon-rd {
    display: none;
}

data-styled.g101[id="style__Item-sc-1wyuot3-2"] {
    content: "wqHZW,"
}

.hpIdVI {
    height: 100%;
    width: 40px;
    padding: 8px 10px;
    border: 0;
    background-color: transparent;
    color: inherit;
}

.hpIdVI svg {
    display: block;
    height: 100%;
    fill: currentColor;
    margin: 0 auto;
}

data-styled.g102[id="style__Button-sc-1wyuot3-3"] {
    content: "hpIdVI,"
}

.gPmsmU {
    width: 70px;
    box-sizing: border-box;
    padding: 5px;
    bottom: 0;
    left: 50%;
    font-size: 10px;
    font-weight: 600;
    -webkit-letter-spacing: 0.1em;
    -moz-letter-spacing: 0.1em;
    -ms-letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    position: absolute;
    -webkit-transform: translate(-50%, calc(100% - 5px));
    -ms-transform: translate(-50%, calc(100% - 5px));
    transform: translate(-50%, calc(100% - 5px));
    background-color: #000913;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 300ms, visibility 0ms 300ms;
    transition: opacity 300ms, visibility 0ms 300ms;
    will-change: opacity;
}

html:not(:lang(el-gr)):not(:lang(ja-jp)):not(:lang(ko-kr)):not(:lang(th-th)):not(:lang(tr-tr)):not(:lang(zh-tw)) .style__CopiedMessage-sc-1wyuot3-4 {
    text-transform: uppercase;
}

.gPmsmU.active {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 300ms, visibility 0ms 0ms;
    transition: opacity 300ms, visibility 0ms 0ms;
}

@media (max-width:500px) {
    .gPmsmU {
        left: 30%;
    }
}

.fUdegz {
    width: 70px;
    box-sizing: border-box;
    padding: 5px;
    bottom: 0;
    left: 50%;
    font-size: 10px;
    font-weight: 600;
    -webkit-letter-spacing: 0.1em;
    -moz-letter-spacing: 0.1em;
    -ms-letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    position: absolute;
    -webkit-transform: translate(-50%, calc(100% - 5px));
    -ms-transform: translate(-50%, calc(100% - 5px));
    transform: translate(-50%, calc(100% - 5px));
    background-color: white;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 300ms, visibility 0ms 300ms;
    transition: opacity 300ms, visibility 0ms 300ms;
    will-change: opacity;
}

html:not(:lang(el-gr)):not(:lang(ja-jp)):not(:lang(ko-kr)):not(:lang(th-th)):not(:lang(tr-tr)):not(:lang(zh-tw)) .style__CopiedMessage-sc-1wyuot3-4 {
    text-transform: uppercase;
}

.fUdegz.active {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 300ms, visibility 0ms 0ms;
    transition: opacity 300ms, visibility 0ms 0ms;
}

@media (max-width:500px) {
    .fUdegz {
        left: 30%;
    }
}

data-styled.g103[id="style__CopiedMessage-sc-1wyuot3-4"] {
    content: "gPmsmU,fUdegz,"
}

.gpaspH {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.625rem;
    font-weight: 600;
    -webkit-letter-spacing: 0.1em;
    -moz-letter-spacing: 0.1em;
    -ms-letter-spacing: 0.1em;
    letter-spacing: 0.1em;
}

html:not(:lang(el-gr)):not(:lang(ja-jp)):not(:lang(ko-kr)):not(:lang(th-th)):not(:lang(tr-tr)):not(:lang(zh-tw)) .style__Wrapper-sc-1i05riq-0 {
    text-transform: uppercase;
}

@media (max-width:599px) {
    .gpaspH {
        line-height: 1.4;
    }

    .gpaspH:lang(cs-cz), .gpaspH:lang(de-de), .gpaspH:lang(es-ar), .gpaspH:lang(es-es), .gpaspH:lang(es-mx), .gpaspH:lang(fr-fr), .gpaspH:lang(hu-hu), .gpaspH:lang(it-it), .gpaspH:lang(ja-jp), .gpaspH:lang(ko-kr), .gpaspH:lang(pl-pl), .gpaspH:lang(pt-br), .gpaspH:lang(ro-ro), .gpaspH:lang(ru-ru), .gpaspH:lang(th-th), .gpaspH:lang(tr-tr), .gpaspH:lang(vi-vn), .gpaspH:lang(zh-cn), .gpaspH:lang(zh-tw) {
        line-height: 1.4;
    }
}

data-styled.g105[id="style__Wrapper-sc-1i05riq-0"] {
    content: "gpaspH,"
}

.hOyndg {
    text-align: center;
}

data-styled.g107[id="style__Info-sc-1i05riq-2"] {
    content: "hOyndg,"
}

.cGDbTB {
    box-sizing: border-box;
}

data-styled.g109[id="style__Author-sc-1i05riq-4"] {
    content: "cGDbTB,"
}

.hAOOB {
    color: #d0a85c;
}

data-styled.g111[id="style__AuthorList-sc-1i05riq-6"] {
    content: "hAOOB,"
}

@media (min-width:801px) {
    .cjvfSU {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .cjvfSU .style__Date-sc-1i05riq-1, .cjvfSU .style__ShareBar-sc-1i05riq-7 {
        -webkit-flex: 1 4 auto;
        -ms-flex: 1 4 auto;
        flex: 1 4 auto;
    }

    .cjvfSU .style__Date-sc-1i05riq-1 {
        white-space: nowrap;
        padding: 0 30px 0 40px;
    }

    .cjvfSU .style__ShareBar-sc-1i05riq-7 {
        padding: 0 40px 0 30px;
    }

    .cjvfSU .style__Info-sc-1i05riq-2 {
        -webkit-flex: 5 1 auto;
        -ms-flex: 5 1 auto;
        flex: 5 1 auto;
        width: 100%;
        border: 1px solid transparent;
        border-color: #242C36;
        border-top: 0;
        border-bottom: 0;
        padding: 15px 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .cjvfSU .style__Info-sc-1i05riq-2.contains-category .style__Author-sc-1i05riq-4 {
        text-align: left;
        border-left: 1px solid transparent;
        border-color: #242C36;
    }

    .cjvfSU .style__Category-sc-1i05riq-3, .cjvfSU .style__Author-sc-1i05riq-4 {
        min-width: 20%;
        padding: 0 10px;
    }

    .cjvfSU .style__Category-sc-1i05riq-3 {
        text-align: right;
    }

    .cjvfSU .style__Author-sc-1i05riq-4 {
        display: block;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .cjvfSU .style__AuthorLabel-sc-1i05riq-5 {
        padding-right: 0.8em;
    }
}

@media (max-width:800px) {
    .cjvfSU {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .cjvfSU .style__Date-sc-1i05riq-1, .cjvfSU .style__ShareBar-sc-1i05riq-7 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .cjvfSU .style__Date-sc-1i05riq-1 {
        box-sizing: border-box;
        width: 36%;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        padding-left: 20px;
        border: 1px solid transparent;
        border-color: #242C36;
        border-left: none;
        min-height: 40px;
        position: relative;
    }

    .cjvfSU .style__ShareBar-sc-1i05riq-7 {
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
        width: 64%;
        height: 40px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        border-color: #242C36;
    }

    .cjvfSU .style__ShareBar-sc-1i05riq-7>* {
        width: 100%;
        height: 32px;
    }

    .cjvfSU .style__Info-sc-1i05riq-2 {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        -webkit-flex: 5 1 auto;
        -ms-flex: 5 1 auto;
        flex: 5 1 auto;
        width: 100%;
        display: block;
    }

    .cjvfSU .style__Category-sc-1i05riq-3 {
        display: none;
    }

    .cjvfSU .style__AuthorLabel-sc-1i05riq-5 {
        display: block;
        margin-bottom: 4px;
    }

    .cjvfSU .style__Author-sc-1i05riq-4 {
        display: block;
        width: 100%;
        padding: 0 20px;
        text-align: left;
        margin-bottom: 30px;
    }
}

data-styled.g113[id="style__ResponsiveWrapper-sc-1i05riq-8"] {
    content: "cjvfSU,"
}

.cpfuBQ {
    display: block;
    margin-top: 3px;
    text-align: center;
}

data-styled.g171[id="style__ShareBar-mghyta-0"] {
    content: "cpfuBQ,"
}

.cgXxvu {
    max-width: 400px;
    margin: 4% auto;
}

@media (max-width:440px) {
    .cgXxvu {
        padding-left: 20px;
        padding-right: 20px;
    }
}

data-styled.g172[id="style__Wrapper-mghyta-1"] {
    content: "cgXxvu,"
}

.khhiQo {
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    border: 0;
    width: 100%;
    height: 1px;
    background: #c1c1c1;
}

data-styled.g173[id="style__Line-mghyta-2"] {
    content: "khhiQo,"
}

.kXyxVK {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

data-styled.g174[id="style__Before-mghyta-3"] {
    content: "kXyxVK,"
}

.jPexoz {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0 10px;
    color: #5d6166;
    font-size: 0.625rem;
    -webkit-letter-spacing: 0.15em;
    -moz-letter-spacing: 0.15em;
    -ms-letter-spacing: 0.15em;
    letter-spacing: 0.15em;
}

html:not(:lang(el-gr)):not(:lang(ja-jp)):not(:lang(ko-kr)):not(:lang(th-th)):not(:lang(tr-tr)):not(:lang(zh-tw)) .style__BeforeLabel-mghyta-4 {
    text-transform: uppercase;
}

@media (max-width:599px) {
    .jPexoz {
        font-size: 10px;
        line-height: 1.4;
        -webkit-letter-spacing: 0.1em;
        -moz-letter-spacing: 0.1em;
        -ms-letter-spacing: 0.1em;
        letter-spacing: 0.1em;
    }

    .jPexoz:lang(cs-cz), .jPexoz:lang(de-de), .jPexoz:lang(es-ar), .jPexoz:lang(es-es), .jPexoz:lang(es-mx), .jPexoz:lang(fr-fr), .jPexoz:lang(hu-hu), .jPexoz:lang(it-it), .jPexoz:lang(ja-jp), .jPexoz:lang(ko-kr), .jPexoz:lang(pl-pl), .jPexoz:lang(pt-br), .jPexoz:lang(ro-ro), .jPexoz:lang(ru-ru), .jPexoz:lang(th-th), .jPexoz:lang(tr-tr), .jPexoz:lang(vi-vn), .jPexoz:lang(zh-cn), .jPexoz:lang(zh-tw) {
        line-height: 1.4;
    }
}

data-styled.g175[id="style__BeforeLabel-mghyta-4"] {
    content: "jPexoz,"
}

.fZDLtG {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 1.5px;
    height: 20px;
    margin-top: -9px;
    background: #c1c1c1;
}

data-styled.g177[id="style__HorizontalLine-mghyta-6"] {
    content: "fZDLtG,"
}

.jRTjdB {
    display: block;
    height: 20px;
    width: 12px;
    margin: 20px auto 0 auto;
}

.jRTjdB .st0 {
    fill: none;
    stroke: #ababab;
}

data-styled.g178[id="style__BottomHex-mghyta-7"] {
    content: "jRTjdB,"
}

.iDmRXs {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 60px;
}

data-styled.g257[id="style__Wrapper-sc-17x3yhp-0"] {
    content: "iDmRXs,"
}

.app {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 100%;
    font-size: 0.875rem;
    -webkit-letter-spacing: 0.5px;
    -moz-letter-spacing: 0.5px;
    -ms-letter-spacing: 0.5px;
    letter-spacing: 0.5px;
    line-height: 1.6;
}

.app:lang(cs-cz), .app:lang(de-de), .app:lang(es-ar), .app:lang(es-es), .app:lang(es-mx), .app:lang(fr-fr), .app:lang(hu-hu), .app:lang(it-it), .app:lang(ja-jp), .app:lang(ko-kr), .app:lang(pl-pl), .app:lang(pt-br), .app:lang(ro-ro), .app:lang(ru-ru), .app:lang(th-th), .app:lang(tr-tr), .app:lang(vi-vn), .app:lang(zh-cn), .app:lang(zh-tw) {
    line-height: 1.6;
}

data-styled.g258[id="style__Content-sc-17x3yhp-1"] {
    content: "app,"
}

.bPFgDd {
    font-weight: 400;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin: 0;
    margin-left: -5px;
    line-height: 2;
}

html:not(:lang(el-gr)):not(:lang(ja-jp)):not(:lang(ko-kr)):not(:lang(th-th)):not(:lang(tr-tr)):not(:lang(zh-tw)) .style__Title-sc-17x3yhp-2 {
    text-transform: uppercase;
}

.bPFgDd:lang(cs-cz), .bPFgDd:lang(de-de), .bPFgDd:lang(es-ar), .bPFgDd:lang(es-es), .bPFgDd:lang(es-mx), .bPFgDd:lang(fr-fr), .bPFgDd:lang(hu-hu), .bPFgDd:lang(it-it), .bPFgDd:lang(ja-jp), .bPFgDd:lang(ko-kr), .bPFgDd:lang(pl-pl), .bPFgDd:lang(pt-br), .bPFgDd:lang(ro-ro), .bPFgDd:lang(ru-ru), .bPFgDd:lang(th-th), .bPFgDd:lang(tr-tr), .bPFgDd:lang(vi-vn), .bPFgDd:lang(zh-cn), .bPFgDd:lang(zh-tw) {
    line-height: 2;
}

data-styled.g259[id="style__Title-sc-17x3yhp-2"] {
    content: "bPFgDd,"
}

.bgAmYe {
    box-sizing: border-box;
    -webkit-flex: 0 0 240px;
    -ms-flex: 0 0 240px;
    flex: 0 0 240px;
    padding-left: 60px;
}

data-styled.g260[id="style__NavWrapper-sc-17x3yhp-3"] {
    content: "bgAmYe,"
}

.cMcZvt {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin-top: 60px;
    top: 60px;
}

data-styled.g261[id="style__Nav-sc-17x3yhp-4"] {
    content: "cMcZvt,"
}

.iMqYVT {
    position: absolute;
    left: 0px;
    top: 11px;
    width: 6px;
    height: 6px;
    opacity: 0;
    -webkit-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    transform: translate(0px, 0);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    -webkit-transition: opacity 0.2s, transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
}

.iMqYVT::before {
    content: "";
    display: block;
    border: 1px solid white;
    width: 3px;
    height: 3px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

data-styled.g262[id="style__Anchor-sc-17x3yhp-5"] {
    content: "iMqYVT,"
}

.cnpunJ {
    display: block;
    position: relative;
    font-size: 0.75rem;
    color: #c39031;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    cursor: pointer;
    opacity: 1;
}

html:not(:lang(el-gr)):not(:lang(ja-jp)):not(:lang(ko-kr)):not(:lang(th-th)):not(:lang(tr-tr)):not(:lang(zh-tw)) .style__NavItem-sc-17x3yhp-6 {
    text-transform: uppercase;
}

.cnpunJ .style__Anchor-sc-17x3yhp-5 {
    opacity: 1;
    -webkit-transform: translate(-12px, 0);
    -ms-transform: translate(-12px, 0);
    transform: translate(-12px, 0);
}

.cnpunJ:hover {
    opacity: 1;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.cnpunJ:hover .style__Anchor-sc-17x3yhp-5 {
    opacity: 1;
    -webkit-transform: translate(-12px, 0);
    -ms-transform: translate(-12px, 0);
    transform: translate(-12px, 0);
}

.bA-DWjO {
    display: block;
    position: relative;
    font-size: 0.75rem;
    color: #c39031;
    opacity: 0.5;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    cursor: pointer;
    opacity: 0.5;
}

html:not(:lang(el-gr)):not(:lang(ja-jp)):not(:lang(ko-kr)):not(:lang(th-th)):not(:lang(tr-tr)):not(:lang(zh-tw)) .style__NavItem-sc-17x3yhp-6 {
    text-transform: uppercase;
}

.bA-DWjO:hover {
    opacity: 1;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.bA-DWjO:hover .style__Anchor-sc-17x3yhp-5 {
    opacity: 1;
    -webkit-transform: translate(-12px, 0);
    -ms-transform: translate(-12px, 0);
    transform: translate(-12px, 0);
}

data-styled.g263[id="style__NavItem-sc-17x3yhp-6"] {
    content: "cnpunJ,bA-DWjO,"
}

.fVYYUU {
    display: block;
    padding: 7px 0;
}

data-styled.g264[id="style__NavText-sc-17x3yhp-7"] {
    content: "fVYYUU,"
}

.jBVDHR {
    fill: white;
    width: 16px;
    -webkit-transition: -webkit-transform 300ms;
    -webkit-transition: transform 300ms;
    transition: transform 300ms;
}

data-styled.g265[id="style__BackToTopArrow-sc-17x3yhp-8"] {
    content: "jBVDHR,"
}

.eRpAAE {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    min-width: 50px;
    min-height: 50px;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    background-color: #000913;
    border: 1px solid white;
    -webkit-transition: opacity 300ms, visibility 0ms linear 300ms;
    transition: opacity 300ms, visibility 0ms linear 300ms;
}

.eRpAAE.hover {
    opacity: 1;
}

.eRpAAE.hover .style__BackToTopArrow-sc-17x3yhp-8 {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
}

data-styled.g266[id="style__BackToTop-sc-17x3yhp-9"] {
    content: "eRpAAE,"
}

.blockquote {
    margin: 0 7.142857142857143%;
    margin-top: 7.142857142857143%;
    margin-bottom: 3.5714285714285716%;
    font-size: 0.875rem;
    line-height: 1.6;
}

.blockquote:lang(cs-cz), .blockquote:lang(de-de), .blockquote:lang(es-ar), .blockquote:lang(es-es), .blockquote:lang(es-mx), .blockquote:lang(fr-fr), .blockquote:lang(hu-hu), .blockquote:lang(it-it), .blockquote:lang(ja-jp), .blockquote:lang(ko-kr), .blockquote:lang(pl-pl), .blockquote:lang(pt-br), .blockquote:lang(ro-ro), .blockquote:lang(ru-ru), .blockquote:lang(th-th), .blockquote:lang(tr-tr), .blockquote:lang(vi-vn), .blockquote:lang(zh-cn), .blockquote:lang(zh-tw) {
    line-height: 1.6;
}

.blockquote:first-child {
    margin-top: 7px;
}

.blockquote::before, .blockquote::after {
    position: relative;
    top: 0.35em;
    display: inline-block;
    color: #5d6166;
    font-size: 2.5em;
    line-height: 0;
}

.blockquote::before:lang(cs-cz), .blockquote::after:lang(cs-cz), .blockquote::before:lang(de-de), .blockquote::after:lang(de-de), .blockquote::before:lang(es-ar), .blockquote::after:lang(es-ar), .blockquote::before:lang(es-es), .blockquote::after:lang(es-es), .blockquote::before:lang(es-mx), .blockquote::after:lang(es-mx), .blockquote::before:lang(fr-fr), .blockquote::after:lang(fr-fr), .blockquote::before:lang(hu-hu), .blockquote::after:lang(hu-hu), .blockquote::before:lang(it-it), .blockquote::after:lang(it-it), .blockquote::before:lang(ja-jp), .blockquote::after:lang(ja-jp), .blockquote::before:lang(ko-kr), .blockquote::after:lang(ko-kr), .blockquote::before:lang(pl-pl), .blockquote::after:lang(pl-pl), .blockquote::before:lang(pt-br), .blockquote::after:lang(pt-br), .blockquote::before:lang(ro-ro), .blockquote::after:lang(ro-ro), .blockquote::before:lang(ru-ru), .blockquote::after:lang(ru-ru), .blockquote::before:lang(th-th), .blockquote::after:lang(th-th), .blockquote::before:lang(tr-tr), .blockquote::after:lang(tr-tr), .blockquote::before:lang(vi-vn), .blockquote::after:lang(vi-vn), .blockquote::before:lang(zh-cn), .blockquote::after:lang(zh-cn), .blockquote::before:lang(zh-tw), .blockquote::after:lang(zh-tw) {
    line-height: 1.1;
}

.blockquote::before {
    content: "“";
}

.blockquote::after {
    content: "”";  
}

ul {
    font-size: 0.875rem;
    line-height: 1.6;
    -webkit-letter-spacing: 0.5px;
    -moz-letter-spacing: 0.5px;
    -ms-letter-spacing: 0.5px;
    letter-spacing: 0.5px;
    padding-left: 5.357142857142858%;
}

ul:lang(cs-cz), ul:lang(de-de), ul:lang(es-ar), ul:lang(es-es), ul:lang(es-mx), ul:lang(fr-fr), ul:lang(hu-hu), ul:lang(it-it), ul:lang(ja-jp), ul:lang(ko-kr), ul:lang(pl-pl), ul:lang(pt-br), ul:lang(ro-ro), ul:lang(ru-ru), ul:lang(th-th), ul:lang(tr-tr), ul:lang(vi-vn), ul:lang(zh-cn), ul:lang(zh-tw) {
    line-height: 1.6;
}

ul li {
    margin: 12px 0;
    padding-left: 1.7857142857142858%;
}

a {
    color: #0bc6e3;
}

.skin-title a, p:not(.summary) a {
    display: inline;
    color: #ffffff;
    font-weight: 200;
    padding-bottom: 3px;
    line-height: 2;
    border-bottom: 2px solid #0bc6e3;
}

.skin-title a:lang(cs-cz), p:not(.summary) a:lang(cs-cz), .skin-title a:lang(de-de), p:not(.summary) a:lang(de-de), .skin-title a:lang(es-ar), p:not(.summary) a:lang(es-ar), .skin-title a:lang(es-es), p:not(.summary) a:lang(es-es), .skin-title a:lang(es-mx), p:not(.summary) a:lang(es-mx), .skin-title a:lang(fr-fr), p:not(.summary) a:lang(fr-fr), .skin-title a:lang(hu-hu), p:not(.summary) a:lang(hu-hu), .skin-title a:lang(it-it), p:not(.summary) a:lang(it-it), .skin-title a:lang(ja-jp), p:not(.summary) a:lang(ja-jp), .skin-title a:lang(ko-kr), p:not(.summary) a:lang(ko-kr), .skin-title a:lang(pl-pl), p:not(.summary) a:lang(pl-pl), .skin-title a:lang(pt-br), p:not(.summary) a:lang(pt-br), .skin-title a:lang(ro-ro), p:not(.summary) a:lang(ro-ro), .skin-title a:lang(ru-ru), p:not(.summary) a:lang(ru-ru), .skin-title a:lang(th-th), p:not(.summary) a:lang(th-th), .skin-title a:lang(tr-tr), p:not(.summary) a:lang(tr-tr), .skin-title a:lang(vi-vn), p:not(.summary) a:lang(vi-vn), .skin-title a:lang(zh-cn), p:not(.summary) a:lang(zh-cn), .skin-title a:lang(zh-tw), p:not(.summary) a:lang(zh-tw) {
    line-height: 2;
}

.skin-title a:hover, p:not(.summary) a:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.summary {
    margin: 1.7857142857142858px 3.5714285714285716%;
}

.cboxElement, .skins {
    display: block;
    width: 100%;
}

.cboxElement img, .skins img {
    width: 100%;
}

.default-2-col {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 1.7857142857142858%;
}

.default-2-col>* {
    box-sizing: border-box;
    width: 50%;
    padding: 20px 1.7857142857142858%;
}

.content-border>img {
    width: 100%;
}

div.content-border {
    position: relative;
    border: 1px solid #242C36;
    margin: 3.5714285714285716%;
    padding: 3.5714285714285716%;
}

div.content-border::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 30px;
    background-color: #000913;
    border-bottom: 2px solid #242C36;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-transform: rotate(45deg) translate(0px, -120%);
    -ms-transform: rotate(45deg) translate(0px, -120%);
    transform: rotate(45deg) translate(0px, -120%);
}

.divider, hr {
    border: 0.5px solid #242C36;
    margin: 20px 0;
}

.change-detail-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.875rem;
}

.change-detail-title img {
    width: 5.357142857142858%;
    margin-right: 2.5%;
}

#patch-top+.blockquote {
    font-size: 1rem;
}

.context-designers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 7.142857142857143%;
}

.context-designer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 5px 0;
    font-size: 0.75rem;
    color: #868686;
}

html:not(:lang(el-gr)):not(:lang(ja-jp)):not(:lang(ko-kr)):not(:lang(th-th)):not(:lang(tr-tr)):not(:lang(zh-tw)) .style__ResponsiveWrapper-sc-17x3yhp-10 .style__Content-sc-17x3yhp-1 .context-designer {
    text-transform: uppercase;
}

.context-designer img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.header-primary {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 7.142857142857143%;
    margin-left: 3.5714285714285716%;
}

.header-primary::before {
    content: "";
    display: block;
    width: 7.142857142857143%;
    height: 15px;
    margin-top: 2px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAAA2CAYAAACP8mT1AAAACXBIWXMAAAWJAAAFiQFtaJ36AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJjSURBVHgB7duLTcMwEAbgKxMwgkfoBowAG8AGsEGzAhOUDRihYoKOkDJBRjgcNZaO1vHjYuXuqv6ShQT2xfdRtYmlAtyjL4i492MHDePrOT96P17hVjJBhTQBI1Ah9sEuoJo0FoGyDzYDFfICjCSg7IJloMYMfmwra+ag7IEVQFEwV1izFMoOWAVUSJ8DY0DpB8tAffhxxEqwDNT4+22irk6wDNTbNCfZeKRmDspN8x7NgJVAkbkxgKFw3hUUma8frAaKrKEQV5+KWAlF1ukF40CRtW5qrAkUWa8PbAlUouYiKFJHD5hmKFJPHkwAaswzMCIKJgQ1pvrRiNRfH0wQyhaYAigbYCjzZp56hNEJhoKfepnGdIGhgtsDE2AaoAobkwXTBFXYmAyYRqjCxtYF0wxV2Ng6YChzH7WksT4B5oCRErCHae5vos4TMLLZbE7+x09iyn7cINTn3Q8387fP6bqcOJivewLai994l1DdAzN+7Vei7rEGzM/dJWp1wAyeb4KHmbo9xl6tmsFUQZHF6sBUQpEiasBUQ5Fi4mAmoEhRMTBTUKS4BNiA1qDIRSTA7EGRi0mDdcDMqlDkolJgHTAjAkUuLgHGOu4VhSKbUA+mAopsRi2YKiiyKTYYno9wDrGNLwFTCUU2Vw2G/8+6+lZgqqFCasAwfii4GMwEVEgJGKZPTw8zdbNgpqBCMmDfyDyPz4B15qBCMA3GbgjrH4161AwVUgFW1VAFWFVd8RSAsRoqAGPVFU8CbFFDCbBFdcUTAWvSUATMNlQIAWvaEAG7DagQPH93x0HjTP8IB/foyh9+370LTaKKFQAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 60% center;
}

.header-primary h2 {
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Beaufort for LOL', serif;
    -webkit-letter-spacing: 2.5px;
    -moz-letter-spacing: 2.5px;
    -ms-letter-spacing: 2.5px;
    letter-spacing: 2.5px;
    line-height: 1;
    color: #d0a85c;
    margin: 0;
}

.header-primary h2:not(:lang(ko-kr)) {
    font-style: italic;
}

.header-primary h2:lang(ko-kr) {
    font-family: "NotoSans-Medium", serif;
}

.header-primary h2:lang(th-th) {
    font-family: "Cordia New", serif;
}

html:not(:lang(el-gr)):not(:lang(ja-jp)):not(:lang(ko-kr)):not(:lang(th-th)):not(:lang(tr-tr)):not(:lang(zh-tw)) .style__ResponsiveWrapper-sc-17x3yhp-10 .style__Content-sc-17x3yhp-1 .header-primary h2 {
    text-transform: uppercase;
}

.header-primary h2:lang(cs-cz), .header-primary h2:lang(de-de), .header-primary h2:lang(es-ar), .header-primary h2:lang(es-es), .header-primary h2:lang(es-mx), .header-primary h2:lang(fr-fr), .header-primary h2:lang(hu-hu), .header-primary h2:lang(it-it), .header-primary h2:lang(ja-jp), .header-primary h2:lang(ko-kr), .header-primary h2:lang(pl-pl), .header-primary h2:lang(pt-br), .header-primary h2:lang(ro-ro), .header-primary h2:lang(ru-ru), .header-primary h2:lang(th-th), .header-primary h2:lang(tr-tr), .header-primary h2:lang(vi-vn), .header-primary h2:lang(zh-cn), .header-primary h2:lang(zh-tw) {
    line-height: 1.1;
}

.fluid-width-video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.patch-change-block {
    position: relative;
}

.patch-change-block .reference-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 10.714285714285715%;
    min-width: 60px;
}

.patch-change-block .reference-link+.removed, .patch-change-block .reference-link+.updated, .patch-change-block .reference-link+.new {
    margin-top: 21px;
    margin-right: 7px;
    margin-left: 14.285714285714286%;
}

.patch-change-block .change-title, .patch-change-block .summary {
    padding-left: 14.285714285714286%;
    padding-top: 5px;
    margin: 0;
}

.patch-change-block .summary {
    font-size: 0.8125rem;
    line-height: 1.5;
}

.patch-change-block .summary:lang(cs-cz), .patch-change-block .summary:lang(de-de), .patch-change-block .summary:lang(es-ar), .patch-change-block .summary:lang(es-es), .patch-change-block .summary:lang(es-mx), .patch-change-block .summary:lang(fr-fr), .patch-change-block .summary:lang(hu-hu), .patch-change-block .summary:lang(it-it), .patch-change-block .summary:lang(ja-jp), .patch-change-block .summary:lang(ko-kr), .patch-change-block .summary:lang(pl-pl), .patch-change-block .summary:lang(pt-br), .patch-change-block .summary:lang(ro-ro), .patch-change-block .summary:lang(ru-ru), .patch-change-block .summary:lang(th-th), .patch-change-block .summary:lang(tr-tr), .patch-change-block .summary:lang(vi-vn), .patch-change-block .summary:lang(zh-cn), .patch-change-block .summary:lang(zh-tw) {
    line-height: 1.5;
}

.patch-change-block .change-title, .patch-change-block .change-detail-title {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
    -webkit-letter-spacing: 1.5px;
    -moz-letter-spacing: 1.5px;
    -ms-letter-spacing: 1.5px;
    letter-spacing: 1.5px;
    padding-top: 10px;
}

.patch-change-block .change-title:lang(cs-cz), .patch-change-block .change-detail-title:lang(cs-cz), .patch-change-block .change-title:lang(de-de), .patch-change-block .change-detail-title:lang(de-de), .patch-change-block .change-title:lang(es-ar), .patch-change-block .change-detail-title:lang(es-ar), .patch-change-block .change-title:lang(es-es), .patch-change-block .change-detail-title:lang(es-es), .patch-change-block .change-title:lang(es-mx), .patch-change-block .change-detail-title:lang(es-mx), .patch-change-block .change-title:lang(fr-fr), .patch-change-block .change-detail-title:lang(fr-fr), .patch-change-block .change-title:lang(hu-hu), .patch-change-block .change-detail-title:lang(hu-hu), .patch-change-block .change-title:lang(it-it), .patch-change-block .change-detail-title:lang(it-it), .patch-change-block .change-title:lang(ja-jp), .patch-change-block .change-detail-title:lang(ja-jp), .patch-change-block .change-title:lang(ko-kr), .patch-change-block .change-detail-title:lang(ko-kr), .patch-change-block .change-title:lang(pl-pl), .patch-change-block .change-detail-title:lang(pl-pl), .patch-change-block .change-title:lang(pt-br), .patch-change-block .change-detail-title:lang(pt-br), .patch-change-block .change-title:lang(ro-ro), .patch-change-block .change-detail-title:lang(ro-ro), .patch-change-block .change-title:lang(ru-ru), .patch-change-block .change-detail-title:lang(ru-ru), .patch-change-block .change-title:lang(th-th), .patch-change-block .change-detail-title:lang(th-th), .patch-change-block .change-title:lang(tr-tr), .patch-change-block .change-detail-title:lang(tr-tr), .patch-change-block .change-title:lang(vi-vn), .patch-change-block .change-detail-title:lang(vi-vn), .patch-change-block .change-title:lang(zh-cn), .patch-change-block .change-detail-title:lang(zh-cn), .patch-change-block .change-title:lang(zh-tw), .patch-change-block .change-detail-title:lang(zh-tw) {
    line-height: 1.5;
}

html:not(:lang(el-gr)):not(:lang(ja-jp)):not(:lang(ko-kr)):not(:lang(th-th)):not(:lang(tr-tr)):not(:lang(zh-tw)) .style__ResponsiveWrapper-sc-17x3yhp-10 .style__Content-sc-17x3yhp-1 .patch-change-block .change-title, html:not(:lang(el-gr)):not(:lang(ja-jp)):not(:lang(ko-kr)):not(:lang(th-th)):not(:lang(tr-tr)):not(:lang(zh-tw)) .patch-change-block .change-detail-title {
    text-transform: uppercase;
}

.patch-change-block .change-title a, .patch-change-block .change-detail-title a {
    color: #ffffff;
}

.patch-change-block .change-title .removed, .patch-change-block .change-detail-title .removed, .patch-change-block .change-title .updated, .patch-change-block .change-detail-title .updated, .patch-change-block .change-title .new, .patch-change-block .change-detail-title .new {
    top: 1px;
    margin-right: 7px;
}

.patch-change-block blockquote {
    margin-left: 3.5714285714285716%;
    margin-right: 3.5714285714285716%;
}

.patch-change-block hr {
    margin-left: 7.142857142857143%;
}

.patch-change-block .attribute-change {
    margin-left: 14.285714285714286%;
}

.attribute, .attribute-before, .attribute-change {
    font-size: 0.75rem;
    line-height: 1.6;
}

.attribute:lang(cs-cz), .attribute-before:lang(cs-cz), .attribute-change:lang(cs-cz), .attribute:lang(de-de), .attribute-before:lang(de-de), .attribute-change:lang(de-de), .attribute:lang(es-ar), .attribute-before:lang(es-ar), .attribute-change:lang(es-ar), .attribute:lang(es-es), .attribute-before:lang(es-es), .attribute-change:lang(es-es), .attribute:lang(es-mx), .attribute-before:lang(es-mx), .attribute-change:lang(es-mx), .attribute:lang(fr-fr), .attribute-before:lang(fr-fr), .attribute-change:lang(fr-fr), .attribute:lang(hu-hu), .attribute-before:lang(hu-hu), .attribute-change:lang(hu-hu), .attribute:lang(it-it), .attribute-before:lang(it-it), .attribute-change:lang(it-it), .attribute:lang(ja-jp), .attribute-before:lang(ja-jp), .attribute-change:lang(ja-jp), .attribute:lang(ko-kr), .attribute-before:lang(ko-kr), .attribute-change:lang(ko-kr), .attribute:lang(pl-pl), .attribute-before:lang(pl-pl), .attribute-change:lang(pl-pl), .attribute:lang(pt-br), .attribute-before:lang(pt-br), .attribute-change:lang(pt-br), .attribute:lang(ro-ro), .attribute-before:lang(ro-ro), .attribute-change:lang(ro-ro), .attribute:lang(ru-ru), .attribute-before:lang(ru-ru), .attribute-change:lang(ru-ru), .attribute:lang(th-th), .attribute-before:lang(th-th), .attribute-change:lang(th-th), .attribute:lang(tr-tr), .attribute-before:lang(tr-tr), .attribute-change:lang(tr-tr), .attribute:lang(vi-vn), .attribute-before:lang(vi-vn), .attribute-change:lang(vi-vn), .attribute:lang(zh-cn), .attribute-before:lang(zh-cn), .attribute-change:lang(zh-cn), .attribute:lang(zh-tw), .attribute-before:lang(zh-tw), .attribute-change:lang(zh-tw) {
    line-height: 1.6;
}

.attribute-change {
    margin: 7px 7.142857142857143%;
    margin-left: 14.285714285714286%;
}

.attribute {
    color: #868686;
}

html:not(:lang(el-gr)):not(:lang(ja-jp)):not(:lang(ko-kr)):not(:lang(th-th)):not(:lang(tr-tr)):not(:lang(zh-tw)) .style__ResponsiveWrapper-sc-17x3yhp-10 .style__Content-sc-17x3yhp-1 .attribute {
    text-transform: uppercase;
}

.attribute::after {
    content: ":";
    margin-right: 5px;
}

.attribute-before {
    color: #868686;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
}

.skin-title {
    display: inline-block;
    margin-top: 0;
}

.removed, .updated, .new {
    position: relative;
    top: -1px;
    padding: 3px;
    padding-left: 5px;
    margin-right: 4px;
    font-size: 0.4375rem;
    font-weight: 200;
    -webkit-letter-spacing: 1.5px;
    -moz-letter-spacing: 1.5px;
    -ms-letter-spacing: 1.5px;
    letter-spacing: 1.5px;
    color: #ffffff;
    text-align: center;
}

html:not(:lang(el-gr)):not(:lang(ja-jp)):not(:lang(ko-kr)):not(:lang(th-th)):not(:lang(tr-tr)):not(:lang(zh-tw)) .style__ResponsiveWrapper-sc-17x3yhp-10 .style__Content-sc-17x3yhp-1 .removed, html:not(:lang(el-gr)):not(:lang(ja-jp)):not(:lang(ko-kr)):not(:lang(th-th)):not(:lang(tr-tr)):not(:lang(zh-tw)) .updated, html:not(:lang(el-gr)):not(:lang(ja-jp)):not(:lang(ko-kr)):not(:lang(th-th)):not(:lang(tr-tr)):not(:lang(zh-tw)) .new {
    text-transform: uppercase;
}

.removed.float-left, .updated.float-left, .new.float-left {
    float: left;
}

.removed {
    background-color: #bf302a;
}

.updated {
    background-color: #0bc6e3;
}

.new {
    background-color: #4ea64e;
}

@media (max-width:1023px) {
    .fTslEZ {
        padding: 0 5%;
    }

    .fTslEZ .style__Content-sc-17x3yhp-1 {
        box-sizing: border-box;
        padding: 20px 0;
    }

    .fTslEZ .style__NavWrapper-sc-17x3yhp-3 {
        display: none;
        position: fixed;
        top: 20px;
        right: 20px;
    }
}

@media (max-width:599px) {
    .blockquote {
        line-height: 1.5;
        margin-left: 0;
        margin-right: 0;
    }

    .blockquote:lang(cs-cz), .blockquote:lang(de-de), .blockquote:lang(es-ar), .blockquote:lang(es-es), .blockquote:lang(es-mx), .blockquote:lang(fr-fr), .blockquote:lang(hu-hu), .blockquote:lang(it-it), .blockquote:lang(ja-jp), .blockquote:lang(ko-kr), .blockquote:lang(pl-pl), .blockquote:lang(pt-br), .blockquote:lang(ro-ro), .blockquote:lang(ru-ru), .blockquote:lang(th-th), .blockquote:lang(tr-tr), .blockquote:lang(vi-vn), .blockquote:lang(zh-cn), .blockquote:lang(zh-tw) {
        line-height: 1.5;
    }

    ul {
        line-height: 1.3;
    }

    ul:lang(cs-cz), ul:lang(de-de), ul:lang(es-ar), ul:lang(es-es), ul:lang(es-mx), ul:lang(fr-fr), ul:lang(hu-hu), ul:lang(it-it), ul:lang(ja-jp), ul:lang(ko-kr), ul:lang(pl-pl), ul:lang(pt-br), ul:lang(ro-ro), ul:lang(ru-ru), ul:lang(th-th), ul:lang(tr-tr), ul:lang(vi-vn), ul:lang(zh-cn), ul:lang(zh-tw) {
        line-height: 1.3;
    }

    .skin-title a::after, p a::after {
        margin-top: 0;
    }

    .content-border {
        border: none;
        border-bottom: 1px solid #242C36;
        margin-left: -5%;
        margin-right: -5%;
        padding: 3.5714285714285716% 7.142857142857143%;
    }

    .content-border::after {
        display: none;
    }

    .change-detail-title {
        margin-top: 30px;
        margin-left: 0;
        font-size: 1rem;
    }

    .change-detail-title img {
        width: 45px;
        margin-right: 7.142857142857143%;
    }

    iframe {
        min-height: auto;
    }

    .header-primary::before {
        display: none;
        font-size: 1.25rem;
    }

    #patch-top+.blockquote {
        font-size: 0.875rem;
        margin-left: 3.5714285714285716%;
        margin-right: 3.5714285714285716%;
    }

    .context-designers {
        margin: 0 3.5714285714285716%;
    }

    .patch-change-block .reference-link {
        display: block;
        position: relative;
    }

    .patch-change-block .reference-link+.removed, .patch-change-block .reference-link+.updated, .patch-change-block .reference-link+.new {
        margin-top: 21px;
        margin-right: 7px;
        margin-left: 0px;
    }

    .patch-change-block .reference-link img {
        width: 60px;
    }

    .patch-change-block .change-title, .patch-change-block .summary {
        padding-left: 0px;
    }

    .patch-change-block .change-title, .patch-change-block .change-detail-title {
        padding-top: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .patch-change-block .change-detail-title {
        font-size: 1rem;
    }

    .patch-change-block hr, .patch-change-block .attribute-change {
        margin-left: 0;
    }

    .patch-change-block .blockquote {
        margin-left: 0;
        margin-right: 0;
    }

    .attribute-change {
        margin-left: 0;
    }

    .removed, .updated, .new {
        display: block;
        width: 70px;
        margin-top: 20px;
        margin-bottom: 2px;
        padding: 0 2px;
        font-size: 0.75rem;
    }

    .removed.float-left, .updated.float-left, .new.float-left {
        float: none;
    }

    .skin-box .content-border {
        display: block;
        border: 0;
    }
}

data-styled.g267[id="style__ResponsiveWrapper-sc-17x3yhp-10"] {
    content: "fTslEZ,"
}

.eATBYR {
    position: relative;
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

data-styled.g268[id="style__Wrapper-vd48si-0"] {
    content: "eATBYR,"
}

.dmosbb {
    position: relative;
    width: 100%;
    height: 60vh;
}

html.is-ms-ie .style__Media-vd48si-1 {
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dmosbb img {
    width: 100%;
    height: 100%;
}

html.is-ms-ie .style__Media-vd48si-1 img {
    height: auto;
}

.dmosbb::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, rgba(0, 9, 19, 1) 1%, rgba(0, 9, 19, 0) 100%);
}

data-styled.g269[id="style__Media-vd48si-1"] {
    content: "dmosbb,"
}

.bBLHCd {
    box-sizing: border-box;
    width: 100%;
    padding: 0 60px;
    z-index: 1;
}

data-styled.g270[id="style__DetailsWrapper-vd48si-2"] {
    content: "bBLHCd,"
}

.czPszD {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #242C36;
    border-top: 0;
}

data-styled.g271[id="style__Details-vd48si-3"] {
    content: "czPszD,"
}

.jReVJB {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.jReVJB::before, .jReVJB::after {
    content: "";
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    height: 1px;
    background-color: #242C36;
}

html.is-ms-ie .style__TitleWrapper-vd48si-4::before, html.is-ms-ie .jReVJB::after {
    display: block;
}

data-styled.g272[id="style__TitleWrapper-vd48si-4"] {
    content: "jReVJB,"
}

.cmnoFj {
    max-width: 90%;
    text-align: center;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: -0.5em 15px 0;
    padding-bottom: 0.25em;
    font-weight: 800;
    font-size: 3.75rem;
    font-family: 'Beaufort for LOL', serif;
    -webkit-letter-spacing: 3px;
    -moz-letter-spacing: 3px;
    -ms-letter-spacing: 3px;
    letter-spacing: 3px;
    line-height: 0.9;
}

.cmnoFj:lang(ko-kr) {
    font-family: "NotoSans-Medium", serif;
}

.cmnoFj:lang(th-th) {
    font-family: "Cordia New", serif;
}

html:not(:lang(el-gr)):not(:lang(ja-jp)):not(:lang(ko-kr)):not(:lang(th-th)):not(:lang(tr-tr)):not(:lang(zh-tw)) .style__Title-vd48si-5 {
    text-transform: uppercase;
}

.cmnoFj:not(:lang(ko-kr)) {
    font-style: italic;
}

.cmnoFj:lang(cs-cz), .cmnoFj:lang(de-de), .cmnoFj:lang(es-ar), .cmnoFj:lang(es-es), .cmnoFj:lang(es-mx), .cmnoFj:lang(fr-fr), .cmnoFj:lang(hu-hu), .cmnoFj:lang(it-it), .cmnoFj:lang(ja-jp), .cmnoFj:lang(ko-kr), .cmnoFj:lang(pl-pl), .cmnoFj:lang(pt-br), .cmnoFj:lang(ro-ro), .cmnoFj:lang(ru-ru), .cmnoFj:lang(th-th), .cmnoFj:lang(tr-tr), .cmnoFj:lang(vi-vn), .cmnoFj:lang(zh-cn), .cmnoFj:lang(zh-tw) {
    line-height: 1.1;
}

data-styled.g273[id="style__Title-vd48si-5"] {
    content: "cmnoFj,"
}

.cubvPh {
    border-top: 1px solid #242C36;
    color: #5d6166;
}

data-styled.g274[id="style__Meta-vd48si-6"] {
    content: "cubvPh,"
}

@media (max-width:1023px) {
    .fAUtC .style__DetailsWrapper-vd48si-2 {
        padding: 0;
    }
}

@media (max-width:800px) {
    .fAUtC .style__Media-vd48si-1::after {
        display: none;
    }

    .fAUtC .style__Details-vd48si-3 {
        border: none;
    }

    .fAUtC .style__TitleWrapper-vd48si-4 {
        margin-top: 30px;
    }

    .fAUtC .style__TitleWrapper-vd48si-4::before, .fAUtC .style__TitleWrapper-vd48si-4::after {
        display: none;
    }

    .fAUtC .style__Title-vd48si-5 {
        font-size: 1.5rem;
        text-align: left;
        line-height: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        margin: 0 20px;
    }

    .fAUtC .style__Title-vd48si-5:lang(cs-cz), .fAUtC .style__Title-vd48si-5:lang(de-de), .fAUtC .style__Title-vd48si-5:lang(es-ar), .fAUtC .style__Title-vd48si-5:lang(es-es), .fAUtC .style__Title-vd48si-5:lang(es-mx), .fAUtC .style__Title-vd48si-5:lang(fr-fr), .fAUtC .style__Title-vd48si-5:lang(hu-hu), .fAUtC .style__Title-vd48si-5:lang(it-it), .fAUtC .style__Title-vd48si-5:lang(ja-jp), .fAUtC .style__Title-vd48si-5:lang(ko-kr), .fAUtC .style__Title-vd48si-5:lang(pl-pl), .fAUtC .style__Title-vd48si-5:lang(pt-br), .fAUtC .style__Title-vd48si-5:lang(ro-ro), .fAUtC .style__Title-vd48si-5:lang(ru-ru), .fAUtC .style__Title-vd48si-5:lang(th-th), .fAUtC .style__Title-vd48si-5:lang(tr-tr), .fAUtC .style__Title-vd48si-5:lang(vi-vn), .fAUtC .style__Title-vd48si-5:lang(zh-cn), .fAUtC .style__Title-vd48si-5:lang(zh-tw) {
        line-height: 1.1;
    }

    .fAUtC .style__Meta-vd48si-6 {
        margin-top: 10px;
        border-top: 0;
    }
}

data-styled.g275[id="style__ResponsiveWrapper-vd48si-7"] {
    content: "fAUtC,"
}

#app {
    background-color: #000913;
    color: #ffffff;
    padding-bottom: 100px;
}

.patch-change-block {
    position: relative;
}

.patch-change-block .reference-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 10.714285714285715%;
    min-width: 60px;
}

.patch-change-block .reference-link+.removed,
.patch-change-block .reference-link+.updated,
.patch-change-block .reference-link+.new {
    margin-top: 21px;
    margin-right: 7px;
    margin-left: 14.285714285714286%;
}

.patch-change-block .change-title,
.patch-change-block .summary {
    padding-left: 14.285714285714286%;
    padding-top: 5px;
    margin: 0;
}

.patch-change-block .summary {
    font-size: 0.8125rem;
    line-height: 1.5;
}

.patch-change-block .summary:lang(cs-cz),
.patch-change-block .summary:lang(de-de),
.patch-change-block .summary:lang(es-ar),
.patch-change-block .summary:lang(es-es),
.patch-change-block .summary:lang(es-mx),
.patch-change-block .summary:lang(fr-fr),
.patch-change-block .summary:lang(hu-hu),
.patch-change-block .summary:lang(it-it),
.patch-change-block .summary:lang(ja-jp),
.patch-change-block .summary:lang(ko-kr),
.patch-change-block .summary:lang(pl-pl),
.patch-change-block .summary:lang(pt-br),
.patch-change-block .summary:lang(ro-ro),
.patch-change-block .summary:lang(ru-ru),
.patch-change-block .summary:lang(th-th),
.patch-change-block .summary:lang(tr-tr),
.patch-change-block .summary:lang(vi-vn),
.patch-change-block .summary:lang(zh-cn),
.patch-change-block .summary:lang(zh-tw) {
    line-height: 1.5;
}

.patch-change-block .change-title,
.patch-change-block .change-detail-title {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
    -webkit-letter-spacing: 1.5px;
    -moz-letter-spacing: 1.5px;
    -ms-letter-spacing: 1.5px;
    letter-spacing: 1.5px;
    padding-top: 10px;
}

.patch-change-block .change-title:lang(cs-cz),
.patch-change-block .change-detail-title:lang(cs-cz),
.patch-change-block .change-title:lang(de-de),
.patch-change-block .change-detail-title:lang(de-de),
.patch-change-block .change-title:lang(es-ar),
.patch-change-block .change-detail-title:lang(es-ar),
.patch-change-block .change-title:lang(es-es),
.patch-change-block .change-detail-title:lang(es-es),
.patch-change-block .change-title:lang(es-mx),
.patch-change-block .change-detail-title:lang(es-mx),
.patch-change-block .change-title:lang(fr-fr),
.patch-change-block .change-detail-title:lang(fr-fr),
.patch-change-block .change-title:lang(hu-hu),
.patch-change-block .change-detail-title:lang(hu-hu),
.patch-change-block .change-title:lang(it-it),
.patch-change-block .change-detail-title:lang(it-it),
.patch-change-block .change-title:lang(ja-jp),
.patch-change-block .change-detail-title:lang(ja-jp),
.patch-change-block .change-title:lang(ko-kr),
.patch-change-block .change-detail-title:lang(ko-kr),
.patch-change-block .change-title:lang(pl-pl),
.patch-change-block .change-detail-title:lang(pl-pl),
.patch-change-block .change-title:lang(pt-br),
.patch-change-block .change-detail-title:lang(pt-br),
.patch-change-block .change-title:lang(ro-ro),
.patch-change-block .change-detail-title:lang(ro-ro),
.patch-change-block .change-title:lang(ru-ru),
.patch-change-block .change-detail-title:lang(ru-ru),
.patch-change-block .change-title:lang(th-th),
.patch-change-block .change-detail-title:lang(th-th),
.patch-change-block .change-title:lang(tr-tr),
.patch-change-block .change-detail-title:lang(tr-tr),
.patch-change-block .change-title:lang(vi-vn),
.patch-change-block .change-detail-title:lang(vi-vn),
.patch-change-block .change-title:lang(zh-cn),
.patch-change-block .change-detail-title:lang(zh-cn),
.patch-change-block .change-title:lang(zh-tw),
.patch-change-block .change-detail-title:lang(zh-tw) {
    line-height: 1.5;
}

.patch-change-block .change-title a,
.patch-change-block .change-detail-title a {
    color: #ffffff;
}

.patch-change-block .change-title .removed,
.patch-change-block .change-detail-title .removed,
.patch-change-block .change-title .updated,
.patch-change-block .change-detail-title .updated,
.patch-change-block .change-title .new,
.patch-change-block .change-detail-title .new {
    top: 1px;
    margin-right: 7px;
}

.patch-change-block blockquote {
    margin-left: 3.5714285714285716%;
    margin-right: 3.5714285714285716%;
}

.patch-change-block hr {
    margin-left: 7.142857142857143%;
}

.patch-change-block .attribute-change {
    margin-left: 14.285714285714286%;
}


.characterImg {
    width: 120px;
    height: 120px;
}

div.content-border {
    position: relative;
    border: 1px solid #242C36;
    margin: 3.5714285714285716%;
    padding: 3.5714285714285716%;
}

div.content-border::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 30px;
    background-color: #000913;
    border-bottom: 2px solid #242C36;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-transform: rotate(45deg) translate(0px, -120%);
    -ms-transform: rotate(45deg) translate(0px, -120%);
    transform: rotate(45deg) translate(0px, -120%);
}

.divider,
hr {
    border: 0.5px solid #242C36;
    margin: 20px 0;
}

.badge {
    text-transform: uppercase;
    position: relative;
    top: -1px;
    padding: 3px 3px 3px 5px;
    margin-right: 4px;
    font-size: 0.4375rem;
    font-weight: 200;
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.new {
    background-color: #4ea64e;
}


.removed {
    background-color: #bf302a;
}


.updated {
    background-color: #0bc6e3;
}


.attribute {
    color: rgb(134, 134, 134);
}

blockquote {
    margin-left: 3.57143%;
    margin-right: 3.57143%;
    margin: 7.14286% 7.14286% 3.57143%;
    font-size: 0.875rem;
    line-height: 1.6;
}

.change-title {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding-top: 10px;
    text-transform: uppercase;
}

.contentMaker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}